# Zależności
node_modules

# Pliki logów i tymczasowe
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Pliki konfiguracyjne środowiska
.env
.env.*
!.env.example

# Dane i wolumeny Dockera
postgres-data

# Kopie zapasowe bazy danych
backups/*.sql.gz
